@model SportsLeague.Models.Team

<html>
<head>
    <title>Team - Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    <p>@Html.DisplayNameFor(model => model.Players): @Html.DisplayFor(model => model.Players)</p>
    <p>@Html.DisplayNameFor(model => model.Division) : @ViewBag.Division.Name</p>

    <p>@Html.ActionLink("Back to Home Page", "Index")</p>
</body>
</html>